@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
--font-text: "Jura", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: var(--font-text);
  text-rendering: optimizeLegibility;
  @apply  box-border touch-manipulation scroll-smooth bg-purple-900 antialiased text-primary;

}

#__next, [data-rk] {
  @apply flex min-h-screen  flex-col;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
    height: 16px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {

    background: hsl(243, 5%, 12%);
    border-radius: 100px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(243, 5%, 24%);
    
  }
  
