@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
--font-sans: "Jura", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

html {
    font-family: var(--font-sans);    
}

html,
body {
    @apply m-0 scroll-smooth bg-dark-1000 text-primary h-full box-border overflow-x-hidden overflow-y-auto touch-manipulation antialiased;
}


a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 16px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
    margin-top: 68px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    background: hsl(243, 5%, 12%);
    border-radius: 100px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(243, 5%, 18%);
  }
  

