@tailwind base;

@import "@fontsource/jura/index.css";

@tailwind components;

@tailwind utilities;

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
--font-sans: "jura", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

html {
    touch-action: manipulation;
    font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--font-sans);
}

html,
body {
    @apply scroll-smooth;
    @apply bg-dark-1000;
    @apply text-primary;
    @apply h-full;
    @apply box-border;
    @apply overflow-x-hidden;
    @apply overflow-y-auto;
}

body {
    @apply relative;
    @apply m-0;
    @apply min-h-full;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}



