@tailwind base;

@import "@fontsource/dm-sans/index.css";
@import "react-virtualized/styles.css";
@import "rc-slider/assets/index.css";

@tailwind components;

@tailwind utilities;

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --primary: #0d0415;
    --text-primary: #bfbfbf;
    --font-sans: "DM Sans", -apple-system, system-ui, BlinkMacSystemFont,
        "Helvetica Neue", "Helvetica", sans-serif;
    --scrollbar-width: 14px;
}

html {
    height: 100%;
    box-sizing: border-box;
    touch-action: manipulation;
    font-feature-settings: "case" 1, "rlig" 1, "calt" 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    font-family: var(--font-sans);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    @apply relative;
    @apply m-0;
    @apply min-h-full;
    @apply dark:bg-dark-1000 bg-gray-300;
    @apply text-black dark:text-white;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button:focus {
    outline: none;
}

input:focus {
    box-shadow: none;
    outline: none;
}

.striped-background {
    background: repeating-linear-gradient(
        45deg,
        #161522,
        #161522 10px,
        #0d0415 10px,
        #0d0415 20px
    );
}
