@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
--font-sans: "jura", -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
}

html {
    font-family: var(--font-sans);
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

html,
body {
    @apply scroll-smooth bg-dark-1000 text-primary h-full box-border overflow-x-hidden overflow-y-auto;
}

body {
    @apply relative m-0 min-h-full;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* width */
::-webkit-scrollbar {
    width: 14px;
    height: 16px;
   
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
    margin-top: 64px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    
    background: hsl(243, 5%, 12%);
    border-radius: 100vh;
    border: 2px solid hsl(0, 0%, 0%);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: hsl(243, 5%, 24%);
  }
  

